<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konyadonat.mobilprogbeadando">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".ParameterAtadasActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity"
            android:exported="false" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://ecb923c23dca4b0cbef502311e824a99@o1060369.ingest.sentry.io/6106594" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />

        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>